.edit{
    background-color: white;
    padding: 0.1rem 1rem;
    color: black;
    font-family: monospace;
    border-radius: 2rem;
}

.userInputDiv{
    max-width: 50ch;
    min-width: 50ch;
    background-color: #333333;
    border: 0.134rem solid rgb(112, 112, 112);
    border-radius: 1rem;
    box-shadow: white 0.01rem 0.103rem 0.133rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.divForInputAndLabel{
    display: flex;
    gap:2rem
}

body{
    font-family: monospace;
}

.editAndRemoveButton{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
}

.remove{
    background-color: white;
    padding: 0.1rem 1rem;
    color: black;
    font-family: monospace;
    border-radius: 2rem;
}

.taskLabel{
    /* background-color: red; */
    max-width: 70%;
}
